@import "tailwindcss";

@theme{
  --bg-dark: #0f172a;
  --bg-light: #f8fafc;
  --text-dark: #f8fafc;
  --text-light: #e2e8f0;
  --ascent-primary: #3b82f6;
  --ascent-secondary: #8b5cf6;
}

@custom-variant dark (&:where(.dark, .dark *));

.dark{
  --bg-dark: #0f172a;
  --bg-light: #f8fafc;
  --text-dark: #0f172a;
  --text-light: #e2e8f0;
  --ascent-primary: #3b82f6;
  --ascent-secondary: #8b5cf6;
}

:root{
  --bg-dark: #0f172a;
  --bg-light: #f8fafc;
  --text-dark: #0f172a;
  --text-light: #e2e8f0;
  --ascent-primary: #3b82f6;
  --ascent-secondary: #8b5cf6;
}
