@import "tailwindcss";

@theme{
  --bg-dark: #0f172a;
  --bg-light: #f8fafc;
  --text-dark: #f8fafc;
  --text-light: #e2e8f0;
  --ascent-primary: #3b82f6;
  --ascent-secondary: #8b5cf6;
}

@custom-variant dark (&:where(.dark, .dark *));

body{
  background-color: var(--bg-light);
  color: var(--text-dark);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark{
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.dark{
  --bg-dark: #0f172a;
  --bg-light: #f8fafc;
  --text-dark: #0f172a;
  --text-light: #e2e8f0;
  --ascent-primary: #3b82f6;
  --ascent-secondary: #8b5cf6;
}

:root{
  --bg-dark: #0f172a;
  --bg-light: #f8fafc;
  --text-dark: #0f172a;
  --text-light: #e2e8f0;
  --ascent-primary: #3b82f6;
  --ascent-secondary: #8b5cf6;
}
